/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    background-color: white;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    -webkit-overflow-scrolling: touch;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    transition: 0.3s;
}
@media (max-width: 767px) {
    .sidebar {
        z-index: 3;
        left: -200px;
        display: block;
    }
}


/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li {
    opacity: 1;
    transition: opacity 0.5s, max-height 0.6s;
    max-height: 50px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #552b35;
}
.nav-sidebar > li:not(:first-child) > a:before {
    content:"-\0000a0";
    margin-left: 10px;
}

.nav-sidebar > .item-hidden {
    pointer-events: none;
    opacity: 0;
    max-height: 0;
}

.nav-sidebar > li:first-child > a.expando:after {
    content: "\A0";
    display: inline-block;
    left: 10px;
    width: 0;
    height: 0;
    margin-left: 7px;
    vertical-align: middle;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    transition: 0.5s;
}
.nav-sidebar > li:first-child > a:not(.expanded):after {
    border-top: 4px dashed;
    border-top: 4px solid \9;
}
.nav-sidebar > li:first-child > a.expanded:after {
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
