body {
    padding-top: 40px;
    padding-bottom: 40px;

}
.form-login-container {
    margin-left: 15px;
    margin-right: 15px;
}

.form-login {
    max-width: 520px;
    padding: 15px;
    margin: 0 auto;
    background-color: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.form-login .form-login-heading,
.form-login .checkbox {
    margin-bottom: 10px;
}
.form-login .checkbox {
    font-weight: normal;
}
.form-login .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-login .form-control:focus {
    z-index: 2;
}
.form-login .top {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-login .middle {
    margin-bottom: 0;
    border-radius: 0;
}
.form-login .bottom {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-login .btn {
    margin-bottom: 20px;
}