@font-face {
    font-family: 'SUSC';
    src: url('/fonts/goudyoldstyle-bold-webfont.eot');
    src: url('/fonts/goudyoldstyle-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/goudyoldstyle-bold-webfont.woff2') format('woff2'),
    url('/fonts/goudyoldstyle-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main-masthead {
    min-height: 80px;
}

.main-masthead h1 {
    color: #fff;
    margin-top: 20px;
    font-size: 48px;
    font-family: SUSC;
    text-shadow: -1px -1px 15px #000,
    1px -1px 15px #000,
    -1px 1px 15px #000,
    1px 1px 15px #000;
}

@media (max-width: 767px) {
    .main-masthead h1 {
        font-size: 36px;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .main-masthead h1 {
        font-size: 42px;
    }
}

.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

@media (max-width: 767px) {
    #content {
        border-radius: 0;
    }

    #email-content {
        border-radius: 0;
    }
    #nav {
        padding-left: 0;
        padding-right: 0;
        border-left-style: none;
        border-right-style: none;
    }
    #nav-container {
        padding-left: 15px;
        padding-right: 15px;
    }
    #navbar {
        max-height: none;
    }
}
@media (min-width: 768px) {
    .nav-container {
        padding-left: 5px;
        padding-right: 10px;
    }
    #logo-nav {
        margin-right: -20px;
    }
    .fix-menu-padding {
        padding-left: 21px;
        padding-right: 9px;
    }

    #content {
        margin-bottom: 52px;
        border-radius: 0 0 6px 6px;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .nav>li>a {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.menu-padding {
    padding-top: 25px !important;
}

.fix-menu-margin {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#content {
    padding-top: 70px;
    background-color: #fff;
    height: calc(100% - 100vh);
}

#email-content {
    padding-top: 20px;
    background-color: #fff;
    height: calc(100% - 100vh);
    border-radius: 5px;
}

#logo {
    padding-top: 0;
    padding-bottom: 0;
    float: inherit;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 352px;
}

#nav {
    /*border-width: 0 0 1px;*/
    /*border-radius: 0;*/
}

.page-header {
    margin: 0 0 20px;
}

.page-header h1 {
    margin-top: 0;
}

.header-image-container {
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    height: 50px;
}
/* for low resolution display */
.header-image {
    background-size: 30px 40px;
    background: url(/img/logo_min.png) no-repeat center;
    position: relative;
    display: inline-block;
    height: 50px;
    width: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* for high resolution display */
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .header-image {
        background-image: url(/img/logo_min@2.png) no-repeat center;
    }
}

.footer-logo {
    max-height: 105px;
    padding: 10px 15px;
}

.navbar {
    z-index: 3;
}

.navbar-user {
    margin-top :5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 10px !important;
}

.kit-out-of-stock > a {
    color: #aaa;
}

.kit-out-of-stock-img {
    -webkit-filter: saturate(0%) opacity(50%);
    filter: saturate(0%) opacity(50%);
}

.overlay {
    visibility: hidden;
}

@media(max-width: 767px) {
    .overlay {
        visibility: visible;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        z-index: 2;
        cursor: pointer;
        transition: 0.5s;
        pointer-events: none;
    }
}

.btn-dark {
    color: #ffffff;
    background-color: #222;
    border-color: #080808;
}
.btn-dark:focus,
.btn-dark.focus {
    color: #ffffff;
    background-color: #353535;
    border-color: #1b1b1b;
}
.btn-dark:hover {
    color: #ffffff;
    background-color: #353535;
    border-color: #1b1b1b;
}
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
    color: #ffffff;
    background-color: #353535;
    border-color: #1b1b1b;
}
.btn-dark:active:hover,
.btn-dark.active:hover,
.open > .dropdown-toggle.btn-dark:hover,
.btn-dark:active:focus,
.btn-dark.active:focus,
.open > .dropdown-toggle.btn-dark:focus,
.btn-dark:active.focus,
.btn-dark.active.focus,
.open > .dropdown-toggle.btn-dark.focus {
    color: #ffffff;
    background-color: #1b0e11;
    border-color: #000000;
}
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
    background-image: none;
}
.btn-dark.disabled:hover,
.btn-dark[disabled]:hover,
fieldset[disabled] .btn-dark:hover,
.btn-dark.disabled:focus,
.btn-dark[disabled]:focus,
fieldset[disabled] .btn-dark:focus,
.btn-dark.disabled.focus,
.btn-dark[disabled].focus,
fieldset[disabled] .btn-dark.focus {
    background-color: #552b35;
    border-color: #44222a;
}
.btn-dark .badge {
    color: #552b35;
    background-color: #ffffff;
}
